<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p class="h1"><%= blogEntry['title'] %></p>
            <p>by <%= blogEntry['author'] %></p>
          </div>
          <div class="col-md-2">
            <a
              href="/edit?id=<%= entryId %>"
              class="btn btn-outline-secondary read-btn">
              Edit
            </a>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="btn btn-outline-secondary read-btn"
              id="delete-btn"
              data-item-id="<%= entryId %>">
              Delete
            </button>
          </div>
        </div>
        <p class="blog-content"><%- blogEntry['content'].replace(/\n/g, "<br>") %></p>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
